{% extends "base.njk" %}

{% block content %}
<div class="page-header">
<img class="page-header-icon" src="https://res.cloudinary.com/dtkhwq0je/image/upload/v1764109364/werk-icon-keyboard_yfsuic.png" alt="Section icon"></img>
<h1>{{ title }}</h1>
</div>
<div> {{ content | safe }} </div>
<div class="collections-grid"> {% for techhr in collections.techhr %}
<a href="{{ techhr.url }}"><div class="blog-item-box">
<h2 class="blog-item-title">{{ techhr.data.title | safe }}</h2> 
<p>{{ techhr.data.description | safe }}</p>
</div>
</a>
{% endfor %} </div>
{% endblock content %}
